    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            </br>
              <h1>Call for Abstracts</h1>
              </br>
                <h3>Panel of the Society for Modern Philosophy</a></h3>
                <h3><a href="http://www.apaonline.org/events/event_details.asp?id=322905" target="_blank">APA Pacific Division Meeting 2016</a></h3>
                <h3>March 30 - April 3, 2016, San Francisco, CA</p></h3>
                </br>
              <h3>Deadline: October 5, 2015</h3>
                </br>
                <p>Authorship is central to our grasp of philosophical contributions. People tend to associate an idea with its originator—think of: ‘Platonist’, ‘Humean’—and especially for the modern period, scholarship on seven big names dominates the field. However, not all philosophical moves have been made by identified figures. Sometimes authors made deliberate efforts to remain hidden from view, be it to allow for a more neutral assessment of their work, or to distance themselves from controversial opinions. As yet, only fragmented attention has been paid to the anonymous and pseudonymous face of modern philosophy.</p> 

                <p>The current panel will begin to address this gap. Possible topics include, but are not limited to, specific anonymous texts, authors’ strategies in unnamed publishing, and the conception of anonymity in philosophical debates. Its findings will have implications not only for emerging efforts to reshape the philosophical canon of the modern period, but also for thinking about named authorship in research practices more generally.</p>

                <p>We invite abstracts for 20-minute talks/papers on any topic related to anonymity in modern philosophy. <strong>Submit your abstract in PDF to Chris Meyns (cm836//at//cam.ac.uk) by October 5, 2015.</strong> Decision by mid-October.</p>
</br>
<!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
<!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
<!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
<!-- <form name="sentMessage" id="contactForm" novalidate>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Email Address</label>
            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Paper title</label>
            <input type="text" class="form-control" placeholder="Paper title" id="name" required data-validation-required-message="Please enter a paper title.">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Abstract</label>
            <textarea rows="5" class="form-control" placeholder="Abstract" id="message" required data-validation-required-message="Please place an abstract."></textarea>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    </br>
    <div id="success"></div>
    <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form> -->
                <p>Feel free to get in touch if you have any questions.</p>
                
                <p>Event hashtag: #AnonModPhil</p>
                </br>
              </div>
        </div>
    </section>
