    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            </br>
              </br>
                <h1>Panel of the Society for Modern Philosophy</h1>
                <h3><a href="http://www.apaonline.org/events/event_details.asp?id=322905" target="_blank">APA Pacific Division Meeting 2016</a></h3>
                <h3>Thursday March 31, 2016, 8:00-10:00 P.M.</h3>
                <h3>Location: Westin St Francis, room Olympic (second floor)</h3>
                </br>
                </br>
                <p>Authorship is central to our grasp of philosophical contributions. People tend to associate an idea with its originator—think of: ‘Platonist’, ‘Humean’—and especially for the modern period, scholarship on seven big names dominates the field. However, not all philosophical moves have been made by identified figures. Sometimes authors made deliberate efforts to remain hidden from view, be it to allow for a more neutral assessment of their work, or to distance themselves from controversial opinions. As yet, only fragmented attention has been paid to the anonymous and pseudonymous face of modern philosophy.</p> 

                <p>This panel will begin to address this gap.  Its findings will have implications not only for efforts to reshape the philosophical canon, but also for thinking about named authorship in research practices more generally.</p>
		<br>
        <!-- <p>Feel free to get in touch (
			<a href="https://twitter.com/csmeyns" target="_blank">@csmeyns</a>
			) if you have any questions.</p> -->
        
        <p>Event hashtag: #AnonModPhil</p>
		<br>		
	 <h1>Abstracts</h1>
	 <br>
	   <h2>Early Modern vs. Medieval Anonymity</h2>
	   <!-- <h3><a href="http://philosophy.osu.edu/people/jorati.1" target="_blank">Julia Joráti</a></h3> -->
	   
	   <p>It was not at all rare for early modern philosophers to publish or circulate their work anonymously. In fact, nearly all commonly studied early modern figures did so at least once: Descartes, Spinoza, Conway, Locke, Masham, du Chatelet, and Hume, to name just a few. Nevertheless, the early modern period is also a period in which named authorship becomes more and more important. It is in this period that ideas come to be viewed increasingly as the property of those who first expressed them, and in which authors come to expect to be given credit when others make use of their ideas. This is evident, for instance, in the heated dispute between Leibniz and Newton over the invention of the calculus. Some early modern philosophers even argue for intellectual property rights explicitly. My paper aims to show that as a result of this new attitude toward named authorship, anonymity also takes on a different meaning for both authors and readers.</p>
<p>More specifically, the paper explores the shift in attitudes toward named authorship—and, relatedly, toward anonymity—that appears to coincide roughly with the transition from the medieval to the early modern period. A widely accepted narrative has it that it was quite common in the medieval period to circulate one’s work anonymously but that this changed radically shortly after the advent of the printed book. While medieval authors were not all that interested in putting their name on their work, renaissance and early modern authors were usually eager to do so, except in special cases. The shift is often attributed partly to print conventions and partly to changing views about the centrality of the identity of the author. To put it starkly, the common narrative claims that early modern authors generally have bigger egos than their medieval counterparts, and hence stronger desires that their ideas be associated with their names.</p>
<p>This narrative, like most broad narratives that draw a sharp contrast between medieval and early modern attitudes, is of course over-simplified. Yet, there is some truth in it as well: the notions of intellectual property, copyright, and plagiarism seem to have developed after the invention of the printing press. The identity of the author becomes increasingly important in early modern Europe and certain authors even attain the status of celebrities. As a result, publishing under one’s name starts to become the default, which in turn means that when an author withholds her name, it is quite likely that she thinks there are special reasons in favor of anonymity. While it is entirely possible for a medieval author to write anonymously without giving much thought to the matter, it is quite unlikely in the case of early modern authors. This in turn, my paper contends, also changes the ways in which readers perceive anonymity.</p>
	 <br>
	   <h2>The Spinozist Model of Anonymity and the <em>Tractatus-Theologico Politicus</em></h2>
	   <!-- <h3><a href="http://www.heythrop.ac.uk/staff/dr-alexander-douglas" target="_blank">Alexander X. Douglas</a></h3> -->

<p>Why did Spinoza choose to publish his philosophy anonymously? He might have done so in order to protect himself from persecution. But there are reasons to doubt that this was his main motive. </p>
	<p>Perhaps Spinoza aimed to show himself to be above ambition, which was in those days recognised as a vice. Descartes and his followers in the Dutch Republic were accused of harbouring this vice: while claiming to pursue truth, it was alleged, what they actually sought was to be admired for their cleverness.</p> 
	<p>Spinoza, in the <em>Tractatus</em>, turned the accusation against the accusers: those who condemn the writings of others do in order to win “the applause of the crowd”; they are the ones corrupted by ambition. But he then risked having the accusation turned back upon himself. Anonymous publication made any such counteraccusation appear much less plausible.</p>
	<p>It was, however, very important for Spinoza not simply to <em>appear</em> unmotivated by ambition in writing his philosophy, but also to be so unmotivated. His psychological theory rules it impossible to convey one’s philosophical thoughts to somebody without also transferring to her the motivations that prompted those thoughts. If ambition is among those motivations, the philosophy will have a corrupting effect. And the contagion of ambition is, for Spinoza, among the most dangerous of all the social pathologies.
	</p>
	 <br>
	   <h2>Rooting for the Underdogs</h2>
	   <!-- <h3><a href="http://www.humanities.mcmaster.ca/~philos/people/profile_lapointe.php" target="_blank">Sandra Lapointe</a></h3> -->

<p>There are many things wrong about our conception of what counts as canonical in philosophy in the nineteenth century, and with the idea of a canon in general. Considering the case of Bernard Bolzano is quite enlightening. It shows that the value of philosophical ideas has little to do with authorship and popularity. Our focus on “founding giants” and “great minds” is tainted by perspective, prejudice and all sorts of complicated assumptions, most of which are fed by bias. At the same time, part of the interest of doing the history of philosophy—as opposed to rational reconstruction—is to tell a story, explain how theories arise and develop in context, and anonymity is not a very good engine for narratives. This raises a number of questions about historical methodology and surprisingly little has been written on the topic. In this talk I will make a few suggestions.</p>

                </br>
              </div>
        </div>
    </section>
